.table table-borderless h4 {
  margin-left: 10rem !important;
  color: darkgray !important;
}

.left-header {
  text-align: left !important;
}

.custom_content_justify {
  text-align: justify;
   !important align-content: stretch;
   !important
}

.custom_width_percentage-10 {
  width: 10% !important;
}

.custom_width_percentage-50 {
  width: 50% !important;
}

.custom_width_percentage-20 {
  width: 20% !important;
}

.custom_table_style {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.custom_table_header {
  font-size: 20px;
}

.custom_border_black {
  border: 1px solid grey !important;
}

.custom_margin_top_30 {
  margin-top: 30px;
}

.custom_margin_bottom_10 {
  margin-bottom: 10px;
}

.custm_section {
  padding: 100px 0;
}

custm_header {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 150px 0;
}

custm_header p {
  font-family: 'Allura';
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.custm_timeline {
  position: relative;
}

.custm_timeline::before {
  content: '';
  background: #d8d8d9;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.custm_timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.custm_timeline-item:nth-child(even) .custm_timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.custm_timeline-item:nth-child(even) .custm_timeline-content .date {
  right: auto;
  left: 0;
}

.custm_timeline-item:nth-child(even) .custm_timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.custm_timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.custm_timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.custm_timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.custm_timeline-img {
  width: 30px;
  height: 30px;
  background: #003399;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.custm_timeline-content a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

.custm_timeline-content a:hover, a:active, a:focus {
  color: #FFFFFF;
  text-decoration: none;
}

.custm_timeline-card {
  padding: 0 !important;
}

.custm_timeline-card p {
  padding: 0 20px;
}

.custm_timeline-card a {
  margin-left: 20px;
}

.custm_timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}

.custm_timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.custm_timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #003399;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .custm_timeline::before {
    left: 50px;
  }

  .custm_timeline .custm_timeline-img {
    left: 50px;
  }

  .custm_timeline .custm_timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .custm_timeline .custm_timeline-item:nth-child(even) .custm_timeline-content {
    float: none;
  }

  .custm_timeline .custm_timeline-item:nth-child(odd) .custm_timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

.custm_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  bottom: 0;
  z-index: -1;
  opacity: .6;
}

.margin-top-nullify {
  margin-top: 0px;
}

.border_points_green:before {
  border-color: #003399 !important;
}

.normal_weight_font {
  font-weight: normal;
}

.block_gap {
  padding-top: 60px;
  padding-bottom: 60px;
}

.div_gap {
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom_testimonial_width {
  width: 16% !important;
  height: 16% !important;
}

.custom_mb-30 {
  margin-bottom: 5px !important;
  margin-top: 10px !important;
}

.side_margin_nullify {
  margin-left: 0px !important;
  margin-right: 0p !important;
}

body {
  color: black;
}

.custom_volunteer {
  padding-left: 20px;
  padding-right: 20px;
}

.volunteer p {
  padding-left: 20px;
  padding-right: 20px;
}

.volunteer p a {
  color: skyblue;
}

.custom_volunteer a:hover, a:active, a:focus {
  color: #000000;
}

.event_inner .accordion .card .card-header button {
  padding: 0px;
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  color: #222222;
  font-family: "Roboto", serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background: #003399;
  color: #fff;
}

.text_align_right {
  text-align: right;
}

.card-header_custom {
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

.custm_info {
  background: transparent !important;
  color: #fff !important;
}

.Custom_librarylink a {
  color: aquamarine !important;
}

.max-width-stretch {
  max-width: -webkit-fill-available;
  /*    max-width  :*/
  max-width: stretch
}

.custm_form {
  color: skyblue;
}

.color_black {
  color: black;
}

.font_big {
  font-size: 17px;
}

.font_bold {
  font-weight: 500;
}

.custom_margin_top_0 {
  margin-top: 0px;
}

.text_center_aligned {
  text-align: center;
}

.color_black {
  color: black;
}

.color_black: hover{
  color: #003399;
}

.fa-facebook {
  color: #3b5998;
  font-size: 18px;
}

.fa-instagram {
  color: #C13584;
  font-size: 18px;
}

.fa-linkedin {
  color: #0e76a8;
  font-size: 18px;
}

.dn_btn {
  color: black !important;
  font-size: 14px !important;
}

.block_wrapped_border {
  margin: 0px;
  padding: 20px;
  border: 1px solid #003399;
}

.stat_element {
  text-align: center;
  font-size: 36px;
}

.color_white {
  color: white !important;
}

.custom_padding-mgn-10 {
  padding-top: 10px;
  margin-bottom: 2px;
}

/* ========== Donate button  ==========*/
.donate_button {
  text-align: center;
  margin-top: 60px;
}

.donate_button button {
  padding: 6px 15px;
  border: 1px solid black;
  background-color: #003399;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.donate_button button a {
  color: white;
}

.library_a{
  color:#003399;
}

#Powerbook{
  height: 350px;
}

#Spotlight1{
  font-family: 'Boogaloo', cursive;
  font-weight: 3.2rem;
  
}

#S1{
  font-family:"Boogaloo",cursive ;
  color: #003399;
  text-align: center;
  font-weight: 800;
  font-size: 47px;
}